{% extends "layout/base.html" %}

{% block title %} Chi tiết phiếu khám {% endblock %}

{% block content %}
<h1 class="text-center text-info">CHI TIẾT PHIẾU KHÁM</h1>

{% if err_msg %}
    <div class="alert alert-danger">
        {{ err_msg }}
    </div>
{% endif %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% if current_user.is_authenticated %}
    <form method="post" action="{{ url_for('chi_tiet_phieu_kham', benh_nhan_ngay_kham_id=thong_tin_benh_nhan_ngay_kham[4]) }}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="ten-benh-nhan">Tên bệnh nhân</label>
            <input type="text" value="{{ thong_tin_benh_nhan_ngay_kham[0] }}" class="form-control disabled" id="ten-benh-nhan" name="ten-benh-nhan" disabled/>
        </div>
        <div class="form-group">
            <label for="ngay-kham">Ngày khám</label>
            <input type="date" value="{{ thong_tin_benh_nhan_ngay_kham[5].strftime('%Y-%m-%d') }}" class="form-control disabled" id="ngay-kham" name="ngay-kham" disabled/>
        </div>

        <div class="form-group">
            <label for="trieu-chung">Triệu chứng</label>
            <input type="text" value="{% for t in trieu_chung %}[ {{ t[1] }} ] {% endfor %}" class="form-control disabled" id="trieu-chung" name="trieu-chung" disabled/>
        </div>
        <div class="form-group">
            <label for="loai-benh">Loại bệnh</label>
            <input type="text" value="{% for l in loai_benh %}[ {{ l[1] }} ] {% endfor %}" class="form-control disabled" id="loai-benh" name="loai-benh" disabled/>
        </div>

        <table class="table">
            <tr>
                <th>Thuốc</th>
                <th>Đơn vị</th>
                <th>Số lượng</th>
                <th>Cách dùng</th>
            </tr>
            {% for t in thuoc %}
                <tr>
                    <td>
                        <input type="text" value="{{ t[1] }}" class="form-control" name="thuoc" disabled/>
                    </td>
                    <td>
                        <input type="text" value="{{ t[2] }}" class="form-control" name="don-vi" disabled/>
                    </td>
                    <td>
                        <input type="number" value="{{ t[3] }}" class="form-control" name="so-luong" disabled/>
                    </td>
                    <td>
                        <input type="text" value="{{ t[4] }}" class="form-control" name="cach-dung" disabled/>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <a class="btn btn-info" href="{{ url_for('lap_hoa_don', benh_nhan_ngay_kham_id=thong_tin_benh_nhan_ngay_kham[4] ) }}">Lập hóa đơn</a>
        <input type="submit" value="Xóa phiếu khám" class="btn btn-danger" />
        <br/><br/>

    </form>
{% else %}
    <a href="{{ url_for('login') }}">Vui lòng đăng nhập để xem</a>
{% endif %}

{% endblock %}